body {
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #99f;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
        grid-template-columns: 1fr 800px 200px 1fr;
        background-color: #fff;
        color: #444;
    }

    .sponsor-logos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .sponsor-logos img {
        height: 80px;
        padding: 20px;
    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;

    }

    .header {
        grid-column: 2 / 4;
        grid-row: 1;
        align: center;
    }

    .sponsors {
        grid-column: 2 / 4 ;
        grid-row: 2 ;
    }

    .sidebar {
        grid-column: 3 ;
        grid-row: 3;
    }

    .main {
        grid-column: 2 ;
        grid-row: 3;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    table a {
        color: #00f;
    }

    table td, table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    table tr:nth-child(even){
        background-color: #f2f2f2;
        color: #000;
    }

    table tr:nth-child(odd){
        background-color: #999;
        color: #fff;
    }

    table tr:hover {
        background-color: #dd9;
        color: #000;
    }

    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #00f;
        color: white;
    }

